  /* Work Page CSS*/

/*Theme Color Customizer*/
:root {
    --primary-color: #fff;
    --primary-font: 'Jost', sans-serif;
    --secondary-color: #B3F3EE;
    --text-color: #000;
    --text-link: #333;
    --hover-color: #1eb8ac;
    --view-button: rgb(14, 12, 12);
    --view-text: #3f2803;
  }

.center{
    text-align: center;
}

.right{
    text-align: right;
}

body { 
    font-size:16px; background: white;
}

body, h1, h2, h3, h4, h5, p, a{
    font-family: var(--primary-font);
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}


h2,h3 {
    font-weight: 400;
}

p{
    line-height: 2em;
}

ul, li {
    padding: 0px;
    margin: 0px;
}

.portfolio-sidebar{
    z-index:3;
    width:300px;
    font-weight:bold;
}

/*.about h3{
    padding: 32px 32px 0px 0px;
}
.about a{
    margin-right: 25px;
}*/

.abg-text-white {
    color: #fff;
}

.abg-text-black {
    color: #000;
}


a {
	text-decoration: none;
    color:var(--text-link);
}

a:hover {color: #333;text-decoration: none;transition: all .3s ease-in-out;}

.work-with-me h3 {margin: 15px 0;}
.button {
    border-radius: 4px;
    background-color:var(--secondary-color);
    border: 1px solid #fff;
    color:#000;
    text-align: center;
    padding: 8px 30px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

p{
    padding:  0;
    margin: 0;
}

.social {margin: 15px 0 0 0;}

.abg-c1 {
    background-color:var(--primary-color);
}

.abg-green-text {
    color: #80b500;
}

.abg-c2 {
    color:var(--secondary-color);
}

.portfolio-content{
    margin-left:300px;
}

.content-wrapper{padding: 22px;min-height:90vh;}
.content-wrapper h2{margin-top:6%;}

.proj-col-1 {
    width:50%;
}

.proj-col-2 {
    width: 50%;
}

.desc {margin: 30px 0;}

.project-1 li, .project-2 li, .project-3 li{
    list-style: none;
    /*display: inline-block;*/
    border-bottom: 1px solid #252525;
    /*border-radius: 25px;*/
    padding: 3px 12px;
    margin: 10px 0;
}


.project-1 li:last-child,
.project-2 li:last-child,
.project-3 li:last-child {
    border-bottom: 0px;
}

.view, .view a {background-color:var(--view-button);color: var(--view-text); text-decoration: none;}


.project-1{
    /*background:url(../img/Photo-by-Brooke-Lark-on-Unsplash.jpg) no-repeat center left;*/
    background-color: #B3B8F3;
    height: 80vh;
    color:#000;
    margin: 0px 0px 30px 0px;
    padding: 70px;
    overflow: hidden;
}

.project-2{
    /*background:url(../img/Photo-by-Josefin-on-Unsplash.jpg) no-repeat center;*/
    /*background-size: cover;*/
    background-color: #B3F3EE;
    color: #000;
    height: 80vh;
    margin: 15px 0px 30px 0px;
    padding: 70px;
    overflow: hidden;
}

.project-3{
    /*background:url(../img/Photo-by-Josefin-on-Unsplash.jpg) no-repeat center;*/
    /*background-size: cover;*/
    background-color: #cfc8ac;
    color: #000;
    height: 80vh;
    margin: 15px 0px 30px 0px;
    padding: 70px;
    overflow: hidden;
}

.project-4{
    background-color: #4161a1;
    color: #fff;
    height: 80vh;
    margin: 15px 0px 30px 0px;
    padding: 70px;
    overflow: hidden;

}

.text-cols {
    column-count: 2;
    column-gap: 4.8rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.project-4 a {color: #fff; text-decoration: none;}
.project-4 a:hover{color: #fbb531;}

img.htsco,img.tyler{width:580px;margin-top: 20px;}
img.hts-program {width:390px;}

/*Screen Sizes 500px and up*/
@media (max-width: 500px){
    
    header{height: 87vh;
        margin: 16px;
        padding: 30px;
    }
    header h2 {font-size: 2.5rem;text-align: left;}
    .w3-large-mobile{font-size: 1.5rem !important; line-height: 1.2;margin:30px 0 30px 0;text-align: left;}
    .project-1, .project-2, .project-3, .project-4 {height: auto;padding: 25px;}
    .project-1 li, .project-2 li, .project-3 li{margin: 0px;padding-left: 0;}
     img.htsco,img.tyler {width: 300px; text-align: center;}
     img.hts-program{width: 180px; text-align: center;}
    .proj-col-1{width: 100%;}
    .proj-col-2{width: 100%; text-align: center;}
    .text-cols {column-count: 1;}
    .abg-contact-mobile{background-color: #f7f7f7;font-size: 1.2rem;}
    .abg-contact-mobile .mail{
        color: #fff;
        background-color: #000;
        padding: 2% 5%;
        text-decoration:none;
        float: right;
    }
    .w3-container, .w3-panel {
        padding: 0px;
    }
    .contact-footer-col-1, .contact-footer-col-2{ width: 50%; display: inline;}
     .contactme{
	color: #000;
    text-decoration:none;
    padding: 2% 0;
    display: inline-block;
    }
    .content-wrapper{
        padding: 15px;
        width: 100%;
	height: auto;
    }
    .knowledge-summary,.screenshot {
        margin-top: 10px;
        width: 100%;
    }
    .toggle-title h4:after{
        width: 25%;
    }
}

/*Screen Sizes 700px and up*/
@media (max-width: 700px){
    #filter {
        display: none;
    }
    .myphoto {
        float: none;
        width: 100%;
        text-align: center;
    }
    .w3-card{
        margin-bottom: 10px;
    }
}